{% extends 'myApp/base1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block cssjs %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
    {% endblock %}
</head>
<body>
    {% block aside %}
        <div id="top">
            <div id="img">
                <img src='{{ user.img.url }}' alt="{{ user.name }}" width="80px" height="80px">
            </div>
            <div id="text">
                <span id="span1">{{ user.name }}</span>
                <br>
                <span id="span2">我加入的时间：{{ user.addTime }}</span>
            </div>
        </div>
        <div id="middle">
            <ul>
                <li><a href="/user/create/">我的作品</a></li>
                <li><a href="/user/collection/">我的收藏</a></li>
                <li><a href="/user/comment/">我的评论</a></li>
                <li><a href="/user/cart/">我的购物车</a></li>
                <li><a href="/user/order/">我的订单</a></li>
            </ul>
        </div>
        <div id="bottom">
            {% if dish %}
                <div id="menu_content">
                    <div id="content_title">
                        <div id="lable">
                            <label ><a href="#">最新</a></label>
                            <label ><a href="#">最热</a></label>
                        </div>
                    </div>
                    <div id="content_main">
                        {% for dishObj in dish %}
                            <div class="content">
                                <div><a href="/dish/{{ dishObj.id }}"><img src={{ dishObj.img.url }} width="246px" height="200px"></a></div>
                                <label class="lable1"><a href="/dish/{{ dishObj.id }}">{{ dishObj.user }}</a></label>
                                <br>
                                <label class="lable2"><a href="/dish/{{ dishObj.id }}">{{ dishObj.name }}</a></label>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="page">
                        <ul>
                            {% if dish.number != 1 %}
                                <li class='a2'><a  href="/menu/{{ cate2Name}}/{{ cateName }}/{{ dish.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            {% for num in page_list %}
                                {% if num == dish.number %}
                                    <li class='a1'>{{ num }}</li>
                                {% else %}
                                    <li class='a1'><a href="/menu/{{ cate2Name}}/{{ cateName }}/{{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if dish.number != paginator.num_pages %}
                                <li class='a2'><a  href="/menu/{{ cate2Name}}/{{ cateName }}/{{ dish.next_page_number }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div id="resultNone">
                    <img src="{% static 'base/img/sorry.jpg' %}" width="960px" height="400px">
                </div>
            {% endif %}

        </div>

    {% endblock %}
</body>
</html>