#health_nav{

    width: 1000px;
    height: 250px;
}
#health_nav .icon{
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
}
#health_nav .icon a{
    text-decoration: none;
    color: black;
}
#health_nav .icon span{
    display: block;
    width: 250px;
    height: 50px;
    font-size: larger;
}
h2{
    margin-top: 40px;
    color: #c90000;
}
#menu_content{
    background-color: #fae8c8;
    width: 1000px;
}
#content_title{
    width: 1000px;
    height: 50px;
}
#content_main{
    width: 1000px;
}


#content_title #lable{
    float: right;
    line-height: 50px;
}
#content_title label a{
    margin-right: 5px;
    text-decoration: none;
    color: red;
}
#content_main>div{
    display: table;
    background-color: white;
    height: 246px;
    width: 246px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-bottom: 2px;
}
/*.content .lable1 a{*/
    /*font-size: smaller;*/
    /*color: red;*/
    /*text-decoration: none;*/
/*}*/
.content .lable2 a{
    margin-top: 2px;
    /*font-size: larger;*/
    text-decoration: none;
    color: black;
    font-size: smaller;
}

#menu_content #page{
    width: 1000px;
    height: 50px;
    margin-top: 20px;

    background-color: #fae8c8;

    display:flex;
    /*justify-content:center;*/
    /*align_items:center;*/

}
#page ul{

    margin: 0px auto;
    text-align: center;
}
#page ul li{
    float: left;
    margin-right: 2px;

    background-color: #f5f5f5;
    list-style-type: none;
}
#page .a1{
    width: 50px;
    height: 50px;
    line-height: 50px;

}
#page .a2{
    width: 80px;
    height: 50px;

    line-height: 50px;
}
#page a{
    text-decoration: none;
    color: black;
}