#health_title{
    background-color: #fdf6f6;
    text-align: center;
    width: 1000px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#health_title h2{
    line-height: 100px;
}

#health_content{
    background-color: #fdf6f6;
    width: 1000px;
}
#health_content .text{
    text-indent: 25px;
    padding: 20px;
}
#health_content .img{
    text-align: center;
    padding: 20px;
}