#top{
    margin-top: 20px;

    width: 1000px;
    height: 80px;

    background-color: white;
}
#img{
    float: left;
}
#text{
    float: left;
    margin-left: 20px;
    padding:10px;
}
#span2{
    font-size: smaller
}


#middle{
    margin-top: 50px;
    width: 1000px;
    height: 50px;
}
#middle li{
    float: left;
    text-align: center;

    width: 100px;
    height: 50px;

    list-style-type: none;
    background-color: white;
}
#middle a{
    line-height: 50px;

    width: 80px;
    height: 50px;

    text-decoration: none;
    color: black;

}
/*#middle li:hover{*/
    /*color: white;*/
    /*background-color: red;*/
/*}*/

#bottom{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

    background-color: #fdf6f6;

}
#cart_content{
    width: 650px;
    height: 80px;
    margin-bottom: 20px;
    background-color: white;
}
#cart_content .img{
    float: left;
    width: 80px;
    height: 80px;
}
#cart_content .text{
    float: left;
    width: 500px;
    height: 80px;
    padding-left: 10px;
}
#cart_content .name{
    width: 520px;
    height: 28px;
    margin-bottom: 1px;
    border-bottom: 1px solid #666;
}
#cart_content .name a{
    text-decoration: none;
    color: black;
    /* font-size: larger; */
}
#cart_content .pay{
    width: 520px;
    height: 50px;
}
#cart_content .price{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: smaller;
}
#cart_content .count_title{
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: smaller;
}
#cart_content .cart_pay{
    float: right;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #666;
}
#cart_content .cart_pay a{
    text-decoration: none;
    line-height: 30px;
    color: white;
}